<!doctype HTML>
<head>
	<title>Backfire todo list!</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<style>
	header {
		text-align: center;
		margin-bottom: 10px;
	}

	.task-details{
		border-radius: 4px;
	}

	#todo-list { 
		text-align: center;
	}
	#todoApp {
		width: 500px;
		text-align: center;
	}

	.footer{
		color: #999999;
	}

	</style>

</head>

<body>
	<div id="todoApp" class="center-block">
		<h1>Backfire Todo List</h1>
		<hr/>
		<header>
			<input type="text" class="task-details input-lg" placeholder="Add a new task!" size="35"/>
		</header>
		
		<div>
			<div id="todo-list"></div>
		</div>
	

		<footer>
			<p class="footer">Created by <br/><i><u><a href="http://github.com/echohtp" class="footer">Jason Schorr</a></u></i></p>
		</footer>
	</div>


	<script type="text/template" id="todo-entry-template">
	<table class="table table-hover">
	<% _.each(tasks, function(task){ %>
		<tr>
			<td><input type="checkbox" name="complete-task" class="check-complete" data-id="<%- task.id %>"></td> 
			<td> <% if(task.get('completed')){ %> 
					<s><%- task.get('title') %></s>
				 <% } else { %>
				 	<%- task.get('title') %>
				 <% } %>
			</td>
			<td><button class="btn btn-danger button-delete" data-id="<%- task.id %>">Remove</button></td>
		</tr>
	<% }); %>
	</table>	
	</script>


	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script type="text/javascript" src="//cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<script type="text/javascript" src="//cdn.firebase.com/libs/backfire/0.3.0/backfire.min.js"></script>
	<script type="text/javascript" src="js/todo.js"></script>
	
</body>
</html>